body {
}

a {
	color: #454545;
	text-decoration: none;
}

h1 { 
	margin-bottom: 0px;
}

.strapline { 
	font-size: 12px;
	margin-top: 0px;
}

li {
	font-size: 15px;
    margin-bottom: 13px;
}

li:nth-child(odd) {
}

li:nth-child(even) {
}

.details {
	font-size: 12px;
}

footer {
	font-size: 12px;
	padding-bottom: 10px;
	text-align: center;
}