body {
	background-color: #E9E9E9;
	font-family: Arial
}

a {
	color: #454545;
	text-decoration: none;
}

h1 { 
	text-align: center;
	margin-bottom: 0px;
}

.strapline { 
	border-bottom: 1px solid black;
	font-size: 12px;
	margin-top: 0px;
	padding-bottom: 10px;
	text-align: center;
}

li {
	font-size: 16px;
    margin-bottom: 13px;
}

li:nth-child(odd) {
    background-color: #E9E9E9;
}

li:nth-child(even) {
    background-color: #F7F7F7;
}

.details {
	font-size: 12px;
}

footer {
	font-size: 12px;
	padding-bottom: 10px;
	text-align: center;
}