[Unit]
Description=Announce devnews-web@%i service
BindsTo=devnews-web@%i.service

[Service]
EnvironmentFile=/etc/environment
Restart=always

ExecStart=/bin/bash -c '\
	while true; do \
		curl -f ${COREOS_PUBLIC_IPV4}:%i; \
		if [ $? -eq 0 ]; then \
			etcdctl set /services/devnews-web/${COREOS_PUBLIC_IPV4} \'${COREOS_PUBLIC_IPV4}:%i\' --ttl 30; \
		else \
			etcdctl rm /services/devnews-web/${COREOS_PUBLIC_IPV4}; \
		fi; \
		sleep 20; \
	done'

ExecStop=/usr/bin/etcdctl rm /announce/services/devnews-web/${COREOS_PUBLIC_IPV4}

[X-Fleet]
X-ConditionMachineOf=devnews-web@%i.service
